* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --asap: "Asap", sans-serif;
  --incosolata: "Inconsolata", monospace;
  --maven: "Maven Pro", sans-serif;
}

.red {
  color: var(--red);
  stroke: var(--red);
}

.title-lg {
  color: var(--gray-100);
  font-family: var(--asap);
  font-size: 56px;
  line-height: 120%;
  font-weight: bold;
}

.title-md {
  font-family: var(--asap);
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

.title-sm {
  font-family: var(--asap);
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
}

.subtitle {
  color: var(--gray-200);
  font-family: var(--incosolata);
  font-size: 20px;
  line-height: 120%;
}

.text-md {
  color: var(--gray-200);
  font-family: var(--maven);
  font-size: 16px;
  line-height: 140%;
}

.text-sm {
  color: var(--gray-300);
  font-family: var(--maven);
  font-size: 14px;
  line-height: 140%;
}

body {
  overflow-x: hidden;
  color: var(--gray-100); /* temp */
}

#intro {
  background-image: url(assets/Background_Intro.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    #profile_image {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid var(--red);
      padding: 5px;
    }

    #text-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 680px;
      text-align: center;
      margin-block: 56px;
    }

    #techs {
      display: flex;
      gap: 1rem;

      .tag {
        background-color: var(--gray-400);
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 9px 16px;
        border-radius: 100px;
      }
    }
  }
}

#projects {
  background-color: var(--gray-500);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

