* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --asap: "Asap", sans-serif;
  --incosolata: "Inconsolata", monospace;
  --maven: "Maven Pro", sans-serif;
}

.gray-100 {
  color: var(--gray-100);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-500 {
  color: var(--gray-500);
}

.gray-600 {
  color: var(--gray-600);
}

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.icon-gray-200 {
  filter: invert(80%) sepia(7%) saturate(261%) hue-rotate(185deg) brightness(98%) contrast(90%);
}

.icon-gray-300 {
  filter: invert(66%) sepia(8%) saturate(657%) hue-rotate(186deg) brightness(84%) contrast(86%);
}
 
.icon-red {
  filter: invert(39%) sepia(73%) saturate(595%) hue-rotate(309deg) brightness(121%) contrast(97%);
}

.icon-purple {
  filter: invert(68%) sepia(66%) saturate(4987%) hue-rotate(234deg) brightness(100%) contrast(84%);
}

.icon-blue {
  filter: invert(68%) sepia(30%) saturate(6094%) hue-rotate(179deg) brightness(88%) contrast(94%);
}

.icon-green {
  filter: invert(70%) sepia(25%) saturate(839%) hue-rotate(49deg) brightness(91%) contrast(89%);
}

.icon-yellow {
  filter: invert(88%) sepia(73%) saturate(591%) hue-rotate(316deg) brightness(95%) contrast(92%);
}

.title-lg {
  color: var(--gray-100);
  font-family: var(--asap);
  font-size: 56px;
  line-height: 120%;
  font-weight: bold;
}

.title-md {
  font-family: var(--asap);
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

.title-sm {
  font-family: var(--asap);
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
}

.subtitle {
  font-family: var(--incosolata);
  font-size: 20px;
  line-height: 120%;
  font-weight: normal;
}

.text-md {
  color: var(--gray-200);
  font-family: var(--maven);
  font-size: 16px;
  line-height: 140%;
}

.text-sm {
  color: var(--gray-300);
  font-family: var(--maven);
  font-size: 14px;
  line-height: 140%;
}

body {
  overflow-x: hidden;
}

#intro {
  background-color: var(--gray-500);
  background-image: url(assets/Background_Intro.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    #profile_image {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid var(--red);
      padding: 5px;
    }

    #text-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 680px;
      text-align: center;
      margin-top: 56px;
      margin-bottom: 80px;
    }

    #techs {
      display: flex;
      gap: 1rem;
      margin-bottom: 94px;

      .tag {
        background-color: var(--gray-400);
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 9px 16px;
        border-radius: 100px;
      }
    }

    > a:hover {
      transform: scale(1.2);
    }
  }
}

#projects {
  background-color: var(--gray-500);
  min-height: 917px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  > header {
    width: 1040px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .cards-container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    .card {
      background-color: var(--gray-400);
      width: 330px;
      padding: 12px;
        border: 1.5px solid var(--gray-400);

      border-radius: 8px;
      

      &:hover {
        cursor: pointer;
        border: 1.5px solid var(--gray-300);
      }

      > img {
        width: 306px;
        height: 156px;
        border-radius: 8px;
        margin-bottom: 20px;
        object-fit: cover;
      }

      > h3 {
        margin-bottom: 8px;
      }
      
      > p {
        margin-bottom: 5px;
      }

    }
    
  }
}

#services {
  background-color: var(--gray-600);
  height: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  > header {
    width: 1040px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .services-container {
    display: flex;
    gap: 24px;

    .service-card {
      width: 280px;
      height: 155px;
      border: 2px solid var(--gray-500);
      border-radius: 12px;
      padding: 20px;

      img {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 8px;
      }
    }
  }
}

#contacts {
  background-color: var(--gray-500);
  background-image: url(assets/Background_Contacts.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  > header {
    width: 1040px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .contacts-container {
    width: 400px;
    height: 267px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .contact {
      background-color: var(--gray-400);
      font-family: var(--maven);
      color: var(--gray-200);
      text-decoration: none;
      border: 1px solid var(--gray-400);
      border-radius: 8px;
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 12px;

      :first-child {
        width: 28px;
        height: 28px;
      }

      :last-child {
        width: 20px;
        height: 20px;
        margin-left: auto;
      }

      &:hover {
        border: 1px solid var(--blue);

        :first-child {
          filter: invert(68%) sepia(30%) saturate(6094%) hue-rotate(179deg) brightness(88%) contrast(94%);
        }

      }
    }
  }
}
