@import url(variables.css);

#button_a {
    display: block;
    width: 10rem;
    background: linear-gradient(90deg, var(--light), var(--darker-light));
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
    margin: 2rem auto 0 auto;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.2s;
}

#button_a:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px var(--shadow);
}

#button_a:hover > .r_arrow {
    padding-left: 10    px;
    transition: 0.2s;
}

