@import url(variables.css);
@import url(project_card.css);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark);
    font-family: var(--defaut-font);
}

header {
    background-color: var(--blue);
    padding: 20px;
    box-shadow: 0px 10px 10px var(--shadow);
}

nav > a {
    text-decoration: none;
    color: var(--light);
}

main {
    padding: 3rem;
}