@import url(variables.css);
@import url(dark_mode.css);
@import url(button_a.css);
@import url(project_card.css);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--defaut-font);
    background-color: var(--light);
    transition: 0.5s;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--blue);
    padding: 10px 0;
    box-shadow: 0 10px 20px var(--shadow);
    z-index: 2;
}

#name_item {
    font-weight: bold;
}

.nav_item > a {
    color: var(--light);
    text-decoration: none;
}

.nav_item > a:hover {
    color: var(--darker-light);
    text-decoration: none;
}

.nav_item > button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.nav_item > button > img {
    width: 35%;
    transition: 0.5s;
}

.nav_item > button > img:hover {
    transform: rotate(360deg);
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-size: 1.3rem;
    font-weight: 400;
}

#about {
    background: linear-gradient(90deg, var(--light), var(--darker-light));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: 1s;
}

#work {
    background-color: var(--blue);
    padding: 20px 10px;
    text-align: center;
}

#work > h2 {
    font-size: 2.5rem;
    color: var(--light);
    max-width: 600px;
    margin: 50px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--light);
}


#contacts {
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
}

#contact_links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

#contact_links > a {  
    text-decoration: none;
    padding: 10px;
}

#contact_links > a > p {
    font-weight: 500;
    color: var(--light);
    transition: 0.2s;
}

#contact_links > a > p:hover {
    transform: scale(1.09);
}

footer {
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    border-top: 3px solid var(--blue);
}
