@import url(variables.css);
@import url(dark_mode.css);
@import url(mobile.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--defaut-font);
    background-color: var(--light);
    transition: 0.5s;
}

header {
    background-color: var(--blue);
    padding: 10px 0;
}

#name_item {
    font-weight: bold;
}

.nav_item > a {
    color: var(--light);
    text-decoration: none;
}

.nav_item > a:hover {
    color: var(--darker-light);
    text-decoration: none;
}

.nav_item > button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.nav_item > button > img {
    width: 35%;
    transition: 0.5s;
}

.nav_item > button > img:hover {
    transform: rotate(360deg);
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
}

aside {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid var(--darker-light);
    border-radius: 5px;
    transition: 0.5s;
}

aside > img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--darker-light);
}

#social > ul {
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#social > ul > li > a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
}

section {
    font-size: 110%;
    margin: 10px;
    text-align: center;
}

.paragraph {
    margin: 10px;
    text-align: justify;
}
