@import url(variables.css);
@import url(dark_mode.css);
@import url(mobile.css);

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--dark);
    font-family: var(--defaut-font);
    font-size: large;
    background-color: var(--light);
    transition: 0.5s;
}

header {
    background-color: var(--blue);
    padding: 10px;
}

#my_name {
    color: var(--light);
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
}


nav {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--light);
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    color: var(--darker-light);
}

#alternate_mode {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

#alternate_mode img {
    width: 25px;
}

#icon_mode {
    transition: 0.2s;
}

#icon_mode:hover {
    transform: rotateZ(90deg);
}
main {
    display: flex;
    flex-wrap: wrap;
}

#aside {
    flex: 20%;
    background-color: var(--darker-light);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    transition: 0.2s;
}

#article {
    flex: 70%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
/*
#contacts {

}

#contacts > img {

}
*/
#contacts > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
    
}

#perfil_image {
    max-width: 50%;
    height: auto;
    border: 2px solid var(--darker-light);
    border-radius: 50%;
}

.texto_longo {
    max-width: 80%;
    margin: 20px auto;
    line-height: 30px;
    text-align: justify;
}

footer {
    font-size: small;
    text-align: center;
    background-color: #000;
    color: var(--light);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
}

footer > a {
    color: var(--light);
}
